# Audio
git+https://github.com/pytube/pytube.git
python-ffmpeg==2.0.12
pydub==0.25.1
aiocache[memcached]==0.12.2

# Discord Stuff
py-cord==2.6.0
pynacl==1.5.0
brotlipy==0.7.0
# cchardet==2.1.7

# Web
aiodns==3.2.0
aiomultiprocess==0.9.1
quart==0.19.6
quart-session==3.0.0

# Database
aiosqlite==0.20.0
pypika==0.48.9

# Others
python-dotenv==1.0.1