<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Music BOT - Accueil</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Music BOT</h1>
<div class="main">
    <p>Music BOT est un bot Discord qui permet de jouer de la musique dans un salon vocal.</p>
    <p>Vous pouvez l'ajouter à votre serveur en cliquant sur le bouton ci-dessous.</p>
    <button class="connect" onclick="window.location.href='{{ url_for('login') }}'">Se connecter au panel</button>
</div>
</body>
</html>