body {
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 1vw;
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.server-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Reduced gap */
    padding: 1rem; /* Reduced padding */
}

.server-widget {
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem; /* Reduced padding */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    min-width: 0; /* Prevent overflow */
}

.server-widget:hover {
    background: #eeeeee;
}


.server-widget:hover .icon {
    border-radius: 35%;
    transition: border-radius 0.3s;
}

.icon {
    width: 5vw;
    height: 5vw;
    margin-bottom: 1vw;
    border-radius: 50%;
}


.name {
    font-weight: bold;
    text-align: center;
}

.user {
    padding: 1vw;
    margin: 1vw;
}
